<h5> Medias of location Instagram (<%=@images.count%> images/<%=@videos.count%> videos): </h5>
<hr>
<p>--Images-- <br>
<% @images.each do |image|%>
  <%= image_tag image.images.thumbnail.url %>
<%end%>
</p>
<p>--Videos-- <br>
<% @videos.each do |video|%>
  <%= video_tag video.videos.low_resolution.url, size: "320x240", controls: true%>
<%end%>
</p>