/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 $border-color: #BFD9E9;
 $background-color: #DDEDF7; 
 body{
  padding: 10px 10px;
 }
 #map {
  height: 950px;
  width: 50%;
}
#place {
  width: 600px;
}
#locations_list {
  height: 700px;
  overflow-y: auto;
}
form {
  input[type="email"],
  input[type="password"],
  input[type="text"] {
      width: 600px;
      height: 40px;
      padding: 0 10px;
      border: 1px solid $border-color;
      border-radius: 0px;
      font-size: 14px;
      &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px white inset !important;
          border: 1px solid $border-color !important;
      }
  }
  label {
      opacity: 0.6;
  }
}